<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <display-name>LanJie</display-name>
    <filter-name>LanJie</filter-name>
    <filter-class>com.wsm.filter.LanJie</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LanJie</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>DologinAction</display-name>
    <servlet-name>DologinAction</servlet-name>
    <servlet-class>com.resj12.actiono.DologinAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DologinAction</servlet-name>
    <url-pattern>/dologin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoRegisterAction</display-name>
    <servlet-name>DoRegisterAction</servlet-name>
    <servlet-class>com.resj12.actiono.DoRegisterAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegisterAction</servlet-name>
    <url-pattern>/doregister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoShowMessage</display-name>
    <servlet-name>DoShowMessage</servlet-name>
    <servlet-class>com.resj12.actiono.DoShowMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoShowMessage</servlet-name>
    <url-pattern>/doshowmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoSendMessage</display-name>
    <servlet-name>DoSendMessage</servlet-name>
    <servlet-class>com.resj12.actiono.DoSendMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoSendMessage</servlet-name>
    <url-pattern>/dosendmessage</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.resj12.listener.SessionsListener</listener-class>
  </listener>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DoPrivateMessageAction</display-name>
    <servlet-name>DoPrivateMessageAction</servlet-name>
    <servlet-class>com.resj12.actiono.DoPrivateMessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPrivateMessageAction</servlet-name>
    <url-pattern>/doprivatemessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrePrivateMainAction</display-name>
    <servlet-name>PrePrivateMainAction</servlet-name>
    <servlet-class>com.resj12.actiono.PrePrivateMainAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrePrivateMainAction</servlet-name>
    <url-pattern>/preprivatemain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPrivateShowMessage</display-name>
    <servlet-name>DoPrivateShowMessage</servlet-name>
    <servlet-class>com.resj12.actiono.DoPrivateShowMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPrivateShowMessage</servlet-name>
    <url-pattern>/doprivateshowmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DoPrivateSendMessageAction</display-name>
    <servlet-name>DoPrivateSendMessageAction</servlet-name>
    <servlet-class>com.resj12.actiono.DoPrivateSendMessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPrivateSendMessageAction</servlet-name>
    <url-pattern>/doprivatesendmessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePrivateMessageAction</display-name>
    <servlet-name>DeletePrivateMessageAction</servlet-name>
    <servlet-class>com.resj12.actiono.DeletePrivateMessageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePrivateMessageAction</servlet-name>
    <url-pattern>/deleteprivatemessage</url-pattern>
  </servlet-mapping>
</web-app>